.footer {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(125, 126, 223);
    color:rgb(245, 5, 5);
}

.footer span{
    font-weight: bold;
    color: rgb(0, 0, 0);
}